.main-header {
  text-align: center;
  color: white;
  border: black 1px solid;
  background-color: #111111;
  padding: 1rem;
  margin-bottom: 2rem;
}

body {
  background-color: #cc0000;
}

.container {
  justify-content: center;
}

.card {
  width: 90%;
  color: #ee0000;
  border: .25rem solid rgb(0, 0, 0);
  background-color: #eee;
}

hr {
  color: #111111;
  background-color: #111111;
  height: .2rem;
  opacity: 80%;
}

.header h1 {
  text-align: center;
}
.skill-progress {
  margin-bottom: 1.75rem;
  /* background-color: #111111; */
}
.pad-top {
  padding-top: 1rem;
}